IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
        width=305px;
     height=312px;
     border: 2px solid black
     id="myPicture";
     alt="some image";}
h1 { 
       color: blue; 
	font-size: 50px;
	font-family:"Georgia", serif;	
}
